# Python virtual environment
scripts/bin
scripts/etc
scripts/include
scripts/lib
scripts/lib64
scripts/share


# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment variables
.env
